<br>
<h1>タスク編集</h1>
<br>
<%= form_for(@task) do |f| %>
  <div class="form-group">
    <label><%= f.label :title %></label>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div>
      <%= link_to '戻る', tasks_path , class: "btn btn-outline-secondary" %>
      <%= f.submit "登録", class: "btn btn-outline-primary" %>
  </div>
<% end %>
