<h1>タスク一覧</h1>
<table class="table">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>達成率</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td style="vertical-align: middle"><%= task.title %></td>
        <td style="vertical-align: middle">
          <% task_count = task.steps.count %>
          <% done_count = task.steps.select { |i| i.status == "完了"}.count %>
          <% progress = (done_count.to_f / task_count.to_f * 100).to_i rescue 0 %>
          <span class="progress" style="width: 150px">
            <span class="progress-bar" style="width: <%= progress %>%">
              <%= done_count %> / <%= task_count %>
            </span>
          </span>
        </td>
        <td><%= link_to "編集", edit_task_path(task), class: "btn btn-success" %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, class: "btn btn-danger" %></td>
        <td><%= link_to "進捗状況一覧", task_steps_path(task.id), class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "追加", new_task_path , class: "btn btn-outline-primary" %>