<br>
<h1>新規タスク</h1>
<br>

<%= form_for @task, :html => {:class => "is-validated"} do |f| %>
  <div class="form-group">
      <label><%= f.label :title %></label>
      <div><%= f.text_field :title, class: "form-control", required:true, maxlength:20, placeholder:"Title" %></div>
      <small class="form-text text-muted">
          入力必須、20文字以内で入力
      </small>
  </div>

  <div>
      <%= link_to '戻る', tasks_path , class: "btn btn-outline-secondary" %>
      <%= f.submit "登録", class: "btn btn-outline-primary" %>
  </div>
<% end %>