<h1>進捗状況編集</h1>
<%= form_for (@step) do |f| %>
    <div class="form-group">
    <div><%= f.label :title %></div>
    <div><%= f.text_field :title %></div>
    </div>
  
    <div class="form-group">
    <div><%= f.label :detail %></div>
    <div><%= f.text_field :detail %></div>
    </div>

    <label><%= f.radio_button :status, :未着手 %>未着手</label>
    <label><%= f.radio_button :status, :進行中 %>進行中</label> 
    <label><%= f.radio_button :status, :完了 %>完了</label>
    
    <div>
        <%= link_to '戻る', task_steps_path(@step.task_id), class: "btn btn-outline-secondary" %>
        <%= f.submit "更新", class: "btn btn-outline-primary"%>
    </div>
<% end %>
