<br>
<h1>進捗一覧</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>更新日</th>
      <th>タイトル</th>
      <th>内容</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% status_class = { "未着手" => "badge-secondary", "進行中" => "badge-primary", "完了" => "badge-success"} %>
    <% status_label = { "未着手" => "TODO", "進行中" => "DOING", "完了" => "DONE"} %>
    <% sorted_steps = @steps.sort_by{|k| [k.updated_at] }.reverse! %>
    <% progress_steps = sorted_steps.select{ |i| i.status != "完了"} %>
    <% done_steps = sorted_steps.select{ |i| i.status == "完了"} %>
    <% progress_steps.each do |step| %>
      <tr>
        <td style="vertical-align: middle; width:13%">
          <%= step.updated_at.in_time_zone("Tokyo").strftime("%y/%m/%d %H:%M") %>
        </td>
        <td style="vertical-align: middle; width:30%">
          <span class="badge <%=  status_class[step.status] %>" style="width:18%">
            <%= status_label[step.status] %>
          </span> 
          <%= step.title %>
        </td>
        <td style="vertical-align: middle; width:41%"><%= step.detail %></td>
        <td style="width:8%"><%= link_to '編集', edit_step_path(step.id), class: "btn btn-success"  %></td>
        <td style="width:8%"><%= link_to '削除', step_path(step.id), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
    <tr><td></td><td></td><td></td><td></td><td></td></tr>
    <% done_steps.each do |step| %>
      <tr>
        <td style="vertical-align: middle; width:13%">
          <%= step.updated_at.in_time_zone("Tokyo").strftime("%y/%m/%d %H:%M") %>
        </td>
        <td style="vertical-align: middle; width:30%">
          <span class="badge <%=  status_class[step.status] %>" style="width:18%">
            <%= status_label[step.status] %>
          </span> 
          <%= step.title %>
        </td>
        <td style="vertical-align: middle; width:41%"><%= step.detail %></td>
        <td style="width:8%"><%= link_to '編集', edit_step_path(step.id), class: "btn btn-success"  %></td>
        <td style="width:8%"><%= link_to '削除', step_path(step.id), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '戻る', tasks_path, class: "btn btn-outline-secondary" %>
<%= link_to '追加', new_task_step_path, class: "btn btn-outline-primary" %>

