<h1>Steps#index</h1>

<table>
  <thead>
    <tr>
      <th>進捗一覧</th>
    </tr>
  </thead>
  <tbody>
  <% @steps.each do |step| %>
      <tr>
        <td><%= step.title %></td>
        <td><%= step.detail %></td>
        <td><%= link_to '編集', edit_step_path(step) %></td>
        <td><%= link_to '削除', step_path(step), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '戻る', tasks_path %>
<%= link_to '追加', new_task_step_path %>

